{% extends "base.html" %}

{% block content %}
<div class="item">
    <img src="{{ files }}" height="400" width="400">
</div>
<div align="center">
    <form action="" class="login_form" method=post enctype=multipart/form-data>
        <div class="form-group">
            <label for="photo">Приложите фотографию</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}