{% extends "base.html" %}

{% block content %}
    <h1 align="center">Редактирование профиля {{ current_user.name }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="alert alert-warning" role="alert" style="border-radius: 50px 50px 50px 50px; width: 30%; margin: 0 auto;">
            <table align="center">
                <tr>
                    <td>
                        <p>
                            {{ form.new_name.label }} <br>
                            {{ form.new_name(class="form-control") }} <br>
                            {% for error in form.new_name.errors %}
                                <p class="alert alert-danger" role="alert">
                                    Имя пользователя должно составлять не менее 3 и не более 15 символов
                                </p>
                            {% endfor %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            {{ form.new_email.label }} <br>
                            {{ form.new_email(class="form-control") }} <br>
                            {% if email_message %}
                                <p class="alert alert-danger" role="alert">{{ email_message }}</p>
                            {% endif %}
                            {% for error in form.new_email.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            {{ form.new_password.label }} <br>
                            {{ form.new_password(class="form-control") }} <br>
                            {% if pass_message %}
                                {% if pass_message == 'Слишком слабый пароль'%}
                                    <p class="alert alert-danger" role="alert">Пароль должен содержать 8 символов, латинсике буквы верхнего и нижнего регистра, нижний пробел, 3 цифры, и в нём не должно быть более 3 идущих подряд одинаковых символов!</p>
                                {% else %}
                                    <p class="alert alert-danger" role="alert">{{ pass_message }}</p>
                                {% endif %}
                            {% endif %}
                            {% for error in form.new_password.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            {{ form.new_password_again.label }} <br>
                            {{ form.new_password_again(class="form-control") }} <br>
                            {% for error in form.new_password_again.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            {{ form.new_town.label }} <br>
                            {{ form.new_town(class="form-control") }} <br>
                            {% for error in form.new_town.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            {{ form.new_phone.label }} <br>
                            {{ form.new_phone(class="form-control") }} <br>
                            {% if phone_message %}
                                <p class="alert alert-danger" role="alert"> {{ phone_message }} </p>
                            {% endif %}
                            {% for error in form.new_phone.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </p>
                    </td>
                </tr>
            </table>
            <p align="center">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {% if message %}
                <div align="center" class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
    </form>
{% endblock %}