{% extends "base.html" %}

{% block content %}
<h1>Объявление</h1>
<div class="d-flex p-2">
    <div class="alert alert-warning" role="alert" style="width: 50%;">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p style="width: 50%;">
            {{ form.name.label }} <br>
            {{ form.name }} <br>
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p style="width: 20%;">
            {{ form.price.label }} в рублях <br>
            {{ form.price }} <br>
            {% for error in form.price.errors %}
                <p class="alert alert-danger" role="alert">
                    Укажите корректную цену
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }} <br>
            {{ form.description }} <br>
            {% for error in form.description.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </div>
</div>
{% endblock %}