{% extends "base.html" %}

{% block content %}
<div style="width: 30%; float: left; margin-left: 2%;">
    <div class="d-flex p-2">
        <table class="table" width="100%">
            <caption style="caption-side: top;"><h3 class="alert alert-warning" role="alert">
                Категории товаров </h3></caption>
            <tr class="list-group-item list-group-item-secondary">
                <td>
                    <nav class="navbar navbar-success">
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.csrf_token }}
                            <div>{{ form.find_line.label }}</div>
                            <div style="float: left;">
                                {{ form.find_line(class="form-control") }}<br>
                                {% for error in form.find_line.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                                {% endfor %}
                            </div>
                            <div style="float: right;">{{ form.find_button(type="submit", class="btn btn-primary") }}</div>
                        </form>
                    </nav>
                </td>
            </tr>
            <tr class="list-group-item list-group-item-secondary">
                <td><a href="/index/Всекатегории"><h4>Все категории</h4></a></td>
            </tr>
            <tr class="list-group-item list-group-item-secondary">
                <td><a href="/index/Одежда"><h4>Одежда</h4></a></td>
            </tr>
            <tr class="list-group-item list-group-item-secondary">
                <td><a href="/index/Техника"><h4>Техника</h4></a></td>
            </tr>
            <tr class="list-group-item list-group-item-secondary">
                <td><a href="/index/Мебель"><h4>Мебель</h4></a></td>
            </tr>
            <tr class="list-group-item list-group-item-secondary">
                <td><a href="/index/Животные"><h4>Животные</h4></a></td>
            </tr>
            <tr class="list-group-item list-group-item-secondary">
                <td><a href="/index/Другое"><h4>Другое</h4></a></td>
            </tr>
        </table>
    </div>
</div>
<div class="d-flex p-2" style="width: 66%; margin-right: 2%;">
    <div class="alert alert-secondary" role="alert" style="width: 100%;">
        {% set arr = [] %}
        {% set count_if_we_use_find = 0 %}
        {% set kostyl = [] %}
        {% set k = 0 %}
        <table class="table" style="float: right; margin-left: 2%;">
            {% for object in objects %}
                {% if loop.index % 3 == 1 and not find%}
                    <tr>
                {% endif %}
                {% if object.name.lower() in name %}
                        {% set kostyl = kostyl.append(object) %}
                {% else %}
                        {% if not find %}
                            {% if category == object.category or category == 'Всекатегории' %}
                                {% set arr = arr.append(1) %}
                                <td width="25%">
                                    <div class="card" style="width: 18rem;">
                                        <img src="{{ object.pictures.split()[0] }}" class="card-img-top"
                                             alt="Фотокарточка не добавлена">
                                        <div class="card-body"></div>
                                        <h5 class="card-title">{{ object.name }}</h5>
                                        <p class="card-text">Цена: {{ object.price }} руб.</p>
                                        <p class="card-text">Категория: {{ object.category }}</p>
                                        <p class="card-text bg-light">Описание: {{ object.description }}</p>
                                        <a href="/obj/{{ object.id }}" class="btn btn-primary">Перейти</a>
                                    </div>
                                </td>
                            {% endif %}
                        {% endif %}
                {% endif %}
           {% endfor %}
                {% if kostyl|length != 0 and find %}
                      {% for object in kostyl %}
                        {% if loop.index % 3 == 1%}
                            <tr>
                        {% endif %}
                        <td>
                            <div class="card" style="width: 18rem;">
                                <img src="{{ object.pictures.split()[0] }}" class="card-img-top"
                                     alt="Фотокарточка не добавлена">
                                <div class="card-body"></div>
                                <h5 class="card-title">{{ object.name }}</h5>
                                <p class="card-text">Цена: {{ object.price }} руб.</p>
                                <p class="card-text">Категория: {{ object.category }}</p>
                                <p class="card-text bg-light">Описание: {{ object.description }}</p>
                                <a href="/obj/{{ object.id }}" class="btn btn-primary">Перейти</a>
                            </div>
                        </td>
                        {% endfor %}
                    {%endif%}
                {% if arr|length == 0 and not find %}
                    <tr>
                        <td>
                            <div class="alert alert-danger" role="alert"><h6>Объявления по данной категории
                                отсутствуют</h6></div>
                        </td>
                    </tr>
                {% endif %}
        </table>
    </div>
</div>
{% endblock %}