{% extends "base.html" %}
{% block navigation %}
    <a class="navbar-brand">Навигация по сайту</a>
{% endblock %}
{% block find %}
<nav class="navbar navbar-light bg-warning">
        <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    </nav>
{% endblock %}
{% block content %}
<div class="d-flex p-2">
    <div class="col-md-3 mb-md-0 mb-3">
        <h3 class="alert alert-warning" role="alert"> Категории товаров </h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary"> <a href="#!"><h4>Категория 1</h4></a> </li>
            <li class="list-group-item list-group-item-secondary"> <a href="#!"><h4>Категория 2</h4></a> </li>
            <li class="list-group-item list-group-item-secondary"> <a href="#!"><h4>Категория 3</h4></a> </li>
            <li class="list-group-item list-group-item-secondary"> <a href="#!"><h4>Категория 4</h4></a> </li>
            <li class="list-group-item list-group-item-secondary"> <a href="#!"><h4>и тд</h4></a> </li>
        </ul>
    </div>
{% endblock %}
