{% extends "base.html" %}

{% block content %}
    <div>
        <div>
            <h2>Пользователь сайта</h2>
        </div>
        <div class="alert alert-primary" role="alert" style="text-align: center; width: 20%;">
            <div>
                <h3>{{ user.name }}</h3>
            </div>
        </div>
    </div>
        <hr>
        <table width="100%">
            <td width="50%" align="center"><h4>Информация о пользователе</h4></td>
            <td width="50%" align="center"><h4>Активные объявления пользователя</h4></td>
        </table>
        <div class="alert alert-secondary" role="alert" style="width: 48%; float: left;  margin-left: 2%;">
            <table style="font-size: 15pt;" align="center" class="table">
                <tr>
                    <td class="active">На сайте с: </td>
                    <td> {{ date }}</td>
                </tr>
                <tr>
                    <td class="active">Электронная почта:</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td class="active">Номер телефона:</td>
                    <td>{{ user.phone }}</td>
                </tr>
                <tr>
                    <td class="active">Город:</td>
                    {% if user.town == None %}
                        <td>Не указан</td>
                    {% else %}
                        <td>{{ user.town }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="active">Создано объявлений:</td>
                    <td> {{ kolvo }} </td>
                </tr>
                <tr>
                    <td class="active">Аватарочка:</td>
                    <td class="active"><img style="border-radius: 10px;" src="{{ files }}" height="100" width="100"></td>
                </tr>
                {% if current_user.is_authenticated %}
                    {% if user.id == current_user.id %}
                        <tr>
                            <td>
                                <a class="btn btn-primary" href="/confirm_password/{{ user.id }}">Редактировать</a>
                            </td>
                        </tr>
                    {% endif %}
                    {% if current_user.admin > 0 %}
                        <tr>
                            <td>
                                {% if user.block == 0 and user.id != current_user.id and current_user.admin > user.admin %}
                                    <a class="btn btn-danger" href="/block/{{ user.id }}">Заблокировать</a>
                                {% elif user.block == 1%}
                                    <a class="btn btn-success" href="/unblock/{{ user.id }}">Разблокировать</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if current_user.admin > 1 %}
                        <tr>
                            <td>
                                {% if user.admin == 0 %}
                                    <a class="btn btn-success" href="/promote/{{ user.id }}">Повысить до хелпера</a>
                                {% elif user.admin == 1 %}
                                    <a class="btn btn-danger" href="/drop/{{ user.id }}">Понизить до юзера</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </table>
        </div>
        <div style="width: 48%; float: left; margin-right: 2%; display: grid; grid-template-columns: 75% 25%;">
            {% if not_sold_objs %}
                {% set check = [] %}
                    {% for object in not_sold_objs %}
                        {% set check = check.append(1) %}
                        <div class="alert alert-warning" role="alert" style="width: 100%; margin-left: 21%;">
                            <div style="width: 527px; float: left; word-wrap: break-word;">
                                <a href="/obj/{{ object.id }}">
                                    Название товара: {{ object.name }}<br>
                                    Описание товара: <br><div style="word-wrap: break-word;">{{ object.description }}</div>
                                </a>
                            </div>
                            <div style="float: right;" class="item">
                                {% if object.pictures.strip() == '' or object.pictures == None%}
                                    <img src="../static/img/not_found.png" height="100" width="100">
                                {% else %}
                                    <img src="{{ object.pictures.split()[0] }}" height="100" width="100" alt="Фотокарточка не добавлена">
                                {% endif %}
                            </div>
                        </div><br>
                    {% endfor %}
                {% if not check %}
                    <div style="width: 100%; float: left; margin-left: 21%;" class="alert alert-info" role="alert"> <h6>Пока что у данного пользователя нет активных объявлений </h6></div>
                {% endif %}
            {% endif %}
            <br>
            <h4 align="right"> Завершённые сделки пользователя </h4><br>
            {% if sold_objs %}
                {% set check = [] %}
                    {% for object in sold_objs %}
                        {% set check = check.append(1) %}
                        <div class="alert alert-success" role="alert" style="width: 100%; margin-left: 21%;">
                            <div style="width: 527px; float: left; word-wrap: break-word;">
                                <a href="/obj/{{ object.id }}">
                                    Название товара: {{ object.name }}<br>
                                    Описание товара: <br><div style="word-wrap: break-word;">{{ object.description }}</div>
                                </a>
                            </div>
                            <div style="float: right;" class="item">
                                {% if object.pictures.strip() == '' or object.pictures == None%}
                                    <img src="../static/img/not_found.png" height="100" width="100">
                                {% else %}
                                    <img src="{{ object.pictures.split()[0] }}" height="100" width="100" alt="Фотокарточка не добавлена">
                                {% endif %}
                            </div>
                        </div><br>
                    {% endfor %}
                {% if not check %}
                    <div style="width: 100%; float: left; margin-left: 21%;" class="alert alert-info" role="alert"> <h6>Пока что у данного пользователя нет завершённых сделок</h6> </div>
                {% endif %}
            {% endif %}
        </div>
{% endblock %}