{% extends "base.html" %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <h1>Основные положения</h1>
    1.1 Адмнистрация в праве изменять правила без уведомления.
    1.2 Администрация в праве удалять объявления и блокировать пользователей за нарушение правил сайта.
    1.3 Администрация в праве повышать юзера до хелпера, в случае его активной помощи работе сайта.
    <h1>Правила юзера</h1>
    2.1 Запрещено использование сквернословия/других форм оскорблений в никнейме пользователя.
    2.2 Запрещено разжигание каких либо рознь.
    <h1>Правила объявлений</h1>
    3.1 Запрещено продавать нелегальные на территории РФ товары.
    3.2 Запрещено использование сквернословия/других форм оскорблений в описании/названии товара.
    3.3 Запрещено разжигание каких либо рознь.

{% endblock %}