{% extends "base.html" %}

{% block content %}
    <div class="alert alert-primary" role="alert" style="font-size: 25pt;">
        <h1 align="center"> Правила, которые нельзя нарушать </h1>
        <ul>
            <li>
                <h2>Основные положения</h2>
                <ul>
                    <li> Адмнистрация в праве изменять правила без уведомления. </li>
                    <li> Администрация в праве удалять объявления и блокировать пользователей за нарушение правил сайта.</li>
                    <li> Администрация в праве повышать юзера до хелпера, в случае его активной помощи работе сайта.</li>
                </ul>
            </li>
            <li>
                <h2>Правила юзера</h2>
                <ul>
                    <li> Запрещено использование сквернословия/других форм оскорблений в никнейме пользователя.</li>
                    <li> Запрещено разжигание каких либо рознь.</li>
                </ul>
            </li>
            <li>
                <h2>Правила объявлений</h2>
                <ul>
                    <li> Запрещено продавать нелегальные на территории РФ товары.</li>
                    <li> Запрещено использование сквернословия/других форм оскорблений в описании/названии товара.</li>
                    <li> Запрещено разжигание каких либо рознь.</li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}